.root {
  position: absolute;
  margin: auto;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
}

input[type=text] {
  width: 80%;
  height: 25px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  font-size: 15px;
}

input[type=button] {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #bfbfbf;
  width: 15%;
  height: 30px;
  float: right;
  
}

input[type=submit] {
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #bfbfbf;
  width: 15%;
  float: right;
}

hr {
  height: 3px;
  border-width: 0;
  color: #000;
  background-color: #000;
}

.toDoListView hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2px;
  border-width: 0;
  color: #bfbfbf;
  background-color: #bfbfbf;
}
.toDoListView {
  padding-top: 1rem;
}