<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/main.css" />

    <title>Hello, world!</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <%- include('nav.html') %>

    <div class="container p-4 detail">
      <div class="row">
        <div class="col-3">
          <ul class="list-group chat-list">
            <% for (var i=0; i < data.length ; i++){ %>
            <li class="list-group-item" data-id="<%= data[i]._id %>">
              <h6><%= data[i].title %></h6>
              <h6 class="text-small"><%= data[i].member[0] %></h6>
            </li>
            <% } %>
          </ul>
        </div>

        <div class="col-9 p-0">
          <div class="chat-room">
            <ul class="list-group chat-content"></ul>
            <div class="input-group">
              <input class="form-control" id="chat-input" />
              <button class="btn btn-secondary" id="send">전송</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var chatroomId;
      var eventSource;
      $(".list-group-item").click(function () {
        chatroomId = this.dataset.id;
        $(".chat-content").html("");

        if (eventSource) eventSource.close();

        eventSource = new EventSource("/message/" + chatroomId);
        eventSource.addEventListener("test", (e) => {
          console.log(JSON.parse(e.data));

          var 가져온거 = JSON.parse(e.data);
          가져온거.forEach((a) => {
            $(".chat-content").append(
              `<li><span class="chat-box">${a.content}</span></li>`
            );
          });
        });
      });

      $("#send").click(() => {
        const content = $("#chat-input").val();
        var sendData = {
          parent: chatroomId,
          content,
        };
        $.post("/message", sendData).then(() => {
          console.log("전송 성공");
        });
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
